#game-of-life h1, #game-of-life h2 {
  text-align: center;
  padding-bottom: 15px;
}

#game-of-life canvas {
  border: 2px solid #ddd;
}

#game-of-life {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

#game-of-life a {
  text-decoration: none;
}

#game-of-life .thumbnail {
  margin: 0;
  width: 50px;
  height: 50px;
  border: 2px solid #ddd;
}

#game-of-life .thumbnail:hover {
  border: 2px solid #000;
}
